.app {
  display: flex;
  padding: 2.5%;
}

.game {
  width: 80%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

.game img {
  width: 12%;
  height: 12%;
}

@media (min-width: 600px) {

  .game {
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
  }

}

@media (min-width: 900px) {

  .game {
    width: 45%;
    height: 45%;
    display: flex;
    flex-wrap: wrap;
  }
  
}